.nav {
  margin-left: 15px;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
      margin: 0;
      padding: 0;
      a {
        color: white;
        font-weight: bold;
        font-size: 1rem;
      }
    }
  }
}